In [1]:
import requests
import pandas as pd

In [2]:
# import api key
# get free api key from: https://min-api.cryptocompare.com/

from config import api_key

In [3]:
query_url = f'https://min-api.cryptocompare.com/data/blockchain/histo/day?fsym=BTC&limit=7&api_key={api_key}'
        
response = requests.get(query_url)
        
if response.status_code == 200:
    response_json = response.json()

In [4]:
data = response_json['Data']['Data']

In [5]:
df_chain = pd.DataFrame(data)

df_chain

,id,symbol,time,zero_balance_addresses_all_time,unique_addresses_all_time,new_addresses,active_addresses,transaction_count,transaction_count_all_time,large_transaction_count,average_transaction_value,block_height,hashrate,difficulty,block_time,block_size,current_supply
0,1182,BTC,1631923200,855519876,894044700,377604,834528,227661,4613407,16903,13.233098,701166,1.434489e+08,1.841516e+13,551.363636,955009,18819793
1,1182,BTC,1632009600,855831242,894386075,341376,727219,200516,4813923,15690,12.515078,701326,1.483247e+08,1.841516e+13,533.238994,770383,18820793
2,1182,BTC,1632096000,856343947,894808472,422397,1021826,270233,5084156,24223,20.724364,701490,1.524228e+08,1.841516e+13,518.901840,1214339,18821825
3,1182,BTC,1632182400,856710523,895196524,388052,856395,244568,5328724,23069,45.961488,701613,1.132491e+08,1.863300e+13,706.655738,1220175,18822681
4,1182,BTC,1632268800,857118568,895624320,427796,916099,275235,5603959,21914,18.270037,701747,1.275914e+08,1.899764e+13,639.496241,1234503,18823356
5,1182,BTC,1632355200,857518301,896046378,422058,915784,268689,5872648,21743,16.252025,701912,1.607595e+08,1.899764e+13,507.554878,1016578,18824531
6,1182,BTC,1632441600,857969467,896490855,444477,979201,277565,6150213,24376,15.292975,702060,1.399444e+08,1.899764e+13,583.047619,1205603,18825450

In [6]:
query_url = f'https://min-api.cryptocompare.com/data/v2/histoday?fsym=BTC&tsym=USD&limit=365&api_key={api_key}'
        
response = requests.get(query_url)
        
if response.status_code == 200:
    response_json = response.json()

In [7]:
data = response_json['Data']['Data']

In [8]:
df_market = pd.DataFrame(data)

df_market

,time,high,low,open,volumefrom,volumeto,close,conversionType,conversionSymbol
0,1600992000,10762.38,10562.14,10742.98,33843.79,3.609294e+08,10694.12,direct,
1,1601078400,10822.99,10658.15,10694.12,13794.51,1.480977e+08,10734.23,direct,
2,1601164800,10810.35,10612.42,10734.23,13820.35,1.481274e+08,10781.47,direct,
3,1601251200,10951.60,10649.18,10781.47,32269.15,3.506153e+08,10699.00,direct,
4,1601337600,10863.02,10641.03,10699.00,31167.43,3.345844e+08,10841.29,direct,
...,...,...,...,...,...,...,...,...,...
361,1632182400,43625.93,39767.17,42925.46,70924.75,2.972566e+09,40709.59,direct,
362,1632268800,44012.22,40589.07,40709.59,42391.10,1.807577e+09,43576.15,direct,
363,1632355200,44994.17,43108.42,43576.15,32439.53,1.431596e+09,44893.87,direct,
364,1632441600,45143.18,40807.20,44893.87,58266.89,2.485627e+09,42848.41,direct,
365,1632528000,42992.94,41710.08,42848.41,29944.22,1.183700e+09,42708.40,direct,

In [9]:
df_market_recent = df_market.tail(7)

df_market_recent

,time,high,low,open,volumefrom,volumeto,close,conversionType,conversionSymbol
359,1632009600,48376.30,46864.50,48312.46,14044.93,6.687233e+08,47251.76,direct,
360,1632096000,47340.49,42552.63,47251.76,64374.41,2.849781e+09,42925.46,direct,
361,1632182400,43625.93,39767.17,42925.46,70924.75,2.972566e+09,40709.59,direct,
362,1632268800,44012.22,40589.07,40709.59,42391.10,1.807577e+09,43576.15,direct,
363,1632355200,44994.17,43108.42,43576.15,32439.53,1.431596e+09,44893.87,direct,
364,1632441600,45143.18,40807.20,44893.87,58266.89,2.485627e+09,42848.41,direct,
365,1632528000,42992.94,41710.08,42848.41,29944.22,1.183700e+09,42708.40,direct,

In [10]:
query_url = f'https://min-api.cryptocompare.com/data/social/coin/histo/day?coinId=1182&limit=6&api_key={api_key}'
        
response = requests.get(query_url)
        
if response.status_code == 200:
    response_json = response.json()

In [11]:
data = response_json['Data']

In [12]:
df_social = pd.DataFrame(data)

df_social

,time,comments,posts,followers,points,overview_page_views,analysis_page_views,markets_page_views,charts_page_views,trades_page_views,...,reddit_comments_per_hour,reddit_comments_per_day,code_repo_stars,code_repo_forks,code_repo_subscribers,code_repo_open_pull_issues,code_repo_closed_pull_issues,code_repo_open_issues,code_repo_closed_issues,code_repo_contributors
0,1632009600,464722,143409,97390,10667195,36105775,1187055,1690018,10755054,858034,...,215.44,5170.56,56870,29844,3845,401,15501,614,5826,1003
1,1632096000,465042,143473,97411,10672520,36117298,1187198,1690390,10757806,858214,...,218.45,5242.72,56870,29844,3845,401,15501,614,5826,1003
2,1632182400,465430,143576,97445,10679825,36129394,1187324,1690503,10760392,858419,...,390.46,9370.93,56870,29844,3845,401,15501,614,5826,1003
3,1632268800,465795,143631,97466,10685375,36139353,1187429,1690606,10762668,858457,...,224.02,5376.48,56870,29844,3845,401,15501,614,5826,1003
4,1632355200,466084,143596,97486,10687890,36147862,1187542,1690695,10764577,858544,...,213.90,5133.69,56870,29844,3845,401,15501,614,5826,1003
5,1632441600,466520,143673,97513,10694850,36158434,1187695,1690828,10767047,858716,...,205.13,4923.08,56870,29844,3845,401,15501,614,5826,1003
6,1632528000,466679,143696,97533,10697515,36163755,1187790,1690888,10768193,858777,...,169.89,4077.39,56870,29844,3845,401,15501,614,5826,1003

In [13]:
query_url = f'https://min-api.cryptocompare.com/data/v2/news/?lang=EN&categories=BTC&api_key={api_key}'
        
response = requests.get(query_url)
        
if response.status_code == 200:
    response_json = response.json()

In [14]:
data = response_json['Data']

In [15]:
headlines = [article['title'] for article in data]

headlines[0:5]

['New Survey Shows Australian’s Love for Crypto is Fueled by These Noble Drives',
 'Robinhood Is Debuting Its New Crypto Wallet System',
 'Coinbase CEO Brian Armstrong: ‘I Own a Ton of Bitcoin’',
 'Can Bitcoin Surpass $6,000,000? Ethereum and Polkadot Creator Details Possible Future of Crypto',
 'NGU: The Bitcoin Price Will Rise With More Education']

In [16]:
from nltk.tokenize import RegexpTokenizer
from nltk.stem import PorterStemmer
from nltk.corpus import stopwords
stopwords = stopwords.words('english')

tokenizer = RegexpTokenizer(r'\w+')

token_list = []
for sentence in headlines:
    
        tokens = tokenizer.tokenize(sentence)
        lower_list = []
        for token in tokens:
            result = ''.join(i for i in token if not i.isdigit())
            result = PorterStemmer().stem(result)
            if result.lower() == 'btc':
                result = 'bitcoin'
            if len(result) > 1:
                lower_list.append(result.lower())
            
        token_list.append(lower_list)

sentences_processed = []
for token in token_list:
    str1 = " "  
    sentences_processed.append(str1.join(token))

sentences_processed[0:5]

['new survey show australian love for crypto is fuel by these nobl drive',
 'robinhood is debut it new crypto wallet system',
 'coinbas ceo brian armstrong own ton of bitcoin',
 'can bitcoin surpass ethereum and polkadot creator detail possibl futur of crypto',
 'ngu the bitcoin price will rise with more educ']

In [17]:
from joblib import load
model = load('headline_classifier.joblib')
vectorizer = load('tfid_vectorizer.joblib')

In [18]:
X_vector = vectorizer.transform(sentences_processed)

In [19]:
predictions = model.predict(X_vector)

In [20]:
predictions_avg = (predictions - 1).mean()

In [21]:
query_url = f'https://min-api.cryptocompare.com/data/price?fsym=BTC&tsyms=USD&api_key={api_key}'
        
response = requests.get(query_url)
        
if response.status_code == 200:
    response_json = response.json()

In [22]:
current_price = response_json['USD']

In [23]:
model_input = [current_price
        ,df_market_recent['open'].iloc[0]
        ,df_market_recent['open'].iloc[6]
        ,df_chain['transaction_count'].mean() * df_chain['average_transaction_value'].mean()
        ,df_chain['large_transaction_count'].mean()
        ,df_social['reddit_comments_per_day'].mean()
        ,df_market_recent['volumeto'].mean()
        ,predictions_avg
       ]

In [25]:
dict = {"a": 1, "B": 2, "c": 3}

In [26]:
import json
json.dumps(dict)

'{"a": 1, "B": 2, "c": 3}'