In [2]:
import requests
import pandas as pd
from pprint import pprint

In [40]:
# import api key
# get free api key from: https://min-api.cryptocompare.com/

from config import api_key

In [13]:
query_url = f'https://min-api.cryptocompare.com/data/blockchain/histo/day?fsym=BTC&limit=2000&api_key={api_key}'
        
response = requests.get(query_url)
        
if response.status_code == 200:
    response_json = response.json()

In [14]:
data = response_json['Data']['Data']

In [20]:
df = pd.DataFrame(data)

df.head()

,id,symbol,time,zero_balance_addresses_all_time,unique_addresses_all_time,new_addresses,active_addresses,transaction_count,transaction_count_all_time,large_transaction_count,average_transaction_value,block_height,hashrate,difficulty,block_time,block_size,current_supply
0,1182,BTC,1459382400,124792947,137474973,222865,422358,206476,119516455,1747,10.601309,405178,1.026365e+06,1.654968e+11,692.544715,845192,1.537946e+07
1,1182,BTC,1459468800,125033165,137705812,230839,508187,211922,119728377,1668,10.293830,405331,1.272654e+06,1.665239e+11,561.986842,768427,1.538329e+07
2,1182,BTC,1459555200,125258358,137912491,206679,479286,183503,119911880,1752,9.584394,405470,1.146382e+06,1.668515e+11,625.115942,798859,1.538676e+07
3,1182,BTC,1459641600,125449679,138114972,202481,469544,178429,120090309,1405,8.752097,405612,1.186321e+06,1.668515e+11,604.070922,727052,1.539031e+07
4,1182,BTC,1459728000,125661764,138355013,240041,489759,208929,120299238,1444,10.204954,405778,1.388313e+06,1.668515e+11,516.181818,669686,1.539446e+07

In [22]:
df.to_csv('blockchain_data.csv', index=False)

In [23]:
query_url = f'https://min-api.cryptocompare.com/data/v2/histoday?fsym=BTC&tsym=USD&limit=2000&api_key={api_key}'
        
response = requests.get(query_url)
        
if response.status_code == 200:
    response_json = response.json()

In [26]:
data = response_json['Data']['Data']

In [28]:
df = pd.DataFrame(data)

df.head()

,time,high,low,open,volumefrom,volumeto,close,conversionType,conversionSymbol
0,1459382400,417.16,411.45,412.44,41840.90,17407273.19,415.66,direct,
1,1459468800,416.86,412.79,415.66,38218.91,15852511.01,415.64,direct,
2,1459555200,420.09,415.09,415.64,31309.25,13137339.89,418.51,direct,
3,1459641600,420.18,416.95,418.51,22798.16,9591214.82,419.06,direct,
4,1459728000,420.39,416.21,419.06,33436.90,14031939.65,419.33,direct,

In [29]:
df.to_csv('market_data.csv', index=False)

In [33]:
query_url = f'https://min-api.cryptocompare.com/data/social/coin/histo/day?coinId=1182&limit=2000&api_key={api_key}'
        
response = requests.get(query_url)
        
if response.status_code == 200:
    response_json = response.json()

In [36]:
data = response_json['Data']

In [38]:
df = pd.DataFrame(data)

df.tail()

,comments,posts,followers,points,overview_page_views,analysis_page_views,markets_page_views,charts_page_views,trades_page_views,forum_page_views,...,reddit_comments_per_day,code_repo_stars,code_repo_forks,code_repo_subscribers,code_repo_open_pull_issues,code_repo_closed_pull_issues,code_repo_open_issues,code_repo_closed_issues,code_repo_contributors,time
1996,464359,143357,97346,10661165,36094131,1186879,1689871,10751785,857957,10792659,...,4700.76,56870,29844,3845,401,15501,614,5826,1003,1631836800
1997,464465,143380,97364,10663250,36100201,1186985,1689951,10753656,857996,10794525,...,3963.30,56870,29844,3845,401,15501,614,5826,1003,1631923200
1998,464722,143409,97390,10667195,36105775,1187055,1690018,10755054,858034,10796427,...,5170.56,56870,29844,3845,401,15501,614,5826,1003,1632009600
1999,465042,143473,97411,10672520,36117298,1187198,1690390,10757806,858214,10801227,...,5242.72,56870,29844,3845,401,15501,614,5826,1003,1632096000
2000,465051,143479,97412,10672785,36118249,1187218,1690407,10758101,858222,10801580,...,9028.21,56870,29844,3845,401,15501,614,5826,1003,1632182400

In [39]:
df.to_csv('social_data.csv', index=False)